<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      "
    >
      <h1>Welcome to this Skins API 👽</h1>
      <h2>It is recommended to use Postman to mess up with it 🪧</h2>
      <h3>Available endpoints:</h3>
      <ul>
        <li><a href="/skins/populate">GET /skins/populate</a></li>
        <li><a href="/skins/available">GET /skins/available</a></li>
        <li><a href="/skins/buy">POST /skins/buy</a></li>
        <li><a href="/skins/myskins">GET /skins/myskins</a></li>
        <li><a href="/skins/color">PUT /skins/color</a></li>
        <li><a href="/skins/getskin">DELETE /skins/delete/:id</a></li>
        <li><a href="/skin/getskin">GET /skin/getskin/:id</a></li>
      </ul>
    </div>
  </body>
</html>
